*target*
*classes*
*.jar
*.war
*.ear
*.class
*.iml
*.idea*
**/vendor/
**/node_modules/
**/new_app/
**/env-monitor-ui/src/main/resources/static/scripts.js
**/env-monitor-ui/src/main/resources/static/styles.css
**/h2_data.trace.db
**/h2_data.mv.db
