<div class="row">
    <div class="form-group col-xs-12" data-ng-if="errorMessage && error">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
    <div class="form-group col-xs-12">
        <textarea name="query" data-ng-model="params.text" id="paramsQuery" cols="30" rows="10"
                  class="form-control"></textarea>
    </div>
    <div class="col-xs-5">
        <table class="table">
            <tr>
                <th>Parameter</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
            <tr data-ng-repeat="param in params.parameters">
                <td><input placeholder="Name" class="query-param--name" type="text" data-ng-model="param.name"></td>
                <td><input placeholder="Type" class="query-param--type" type="text" data-ng-model="param.type"></td>
                <td><input placeholder="Type the value" class="query-param--value" type="text" data-ng-model="param.value"></td>
            </tr>
            <tr>
                <td><input placeholder="Name" class="query-param--name" type="text" data-ng-model="newParam.name"></td>
                <td><input placeholder="Type" class="query-param--type" type="text" data-ng-model="newParam.type"></td>
                <td><input placeholder="Type the value" class="query-param--value" type="text" data-ng-model="newParam.value"></td>
            </tr>
            <tr class="add-btn">
                <td colspan="3" class="text-center">
                    <input type="button" class="btn btn-success" value="Add" data-ng-click="addParam(newParam); newParam = null">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-7">
        <div class="col-xs-6">
            <div class="form-group col-xs-12" style="display: none">
                <label for="datasource">Select Datasource</label>
                <select name="datasource" id="datasource" class="form-control" data-ng-model="params.datasourse">
                    <option value="">Select</option>
                    <option value="">JDBC 1</option>
                    <option value="">JDBC 2</option>
                    <option value="">JDBC 3</option>
                </select>
            </div>
            <div class="form-group col-xs-12">
                <label for="timeout">Execution time (ms)</label>
                <input type="text" class="form-control" id="timeout" name="timeout" data-ng-model="params.timeout">
            </div>
            <div class="form-group col-xs-12">
                <label for="limit">Row limit</label>
                <input type="text" class="form-control" id="limit" name="rows" data-ng-model="params.rows">
            </div>
        </div>
        <div class="col-xs-6">
            <label>Controls</label>
            <div class="form-group col-xs-12">
                <button data-ng-click="execute(params)" class="btn btn-success">Execute Query</button>
            </div>
            <div class="form-group col-xs-12">
                <button data-ng-click="saveQuery(params)" class="btn btn-success">Save Query</button>
            </div>
        </div>
    </div>


    <div class="form-group col-xs-12" data-ng-if="settings && !error">
        <jqx-grid jqx-settings="settings" id="jqxgrid"></jqx-grid>
    </div>
</div>