<div class="row">
    <!-- TODO support the controls below later -->
    <!--div class="col-xs-4">
        <input type="button" class="btn btn-sm btn-default" data-ng-click="createCategory()" value="Add category">
    </div>
    <div class="col-xs-4">
        <input type="button" class="btn btn-sm btn-default" data-ng-click="createQuery()" value="Add query">
    </div>
    <div class="col-xs-4 ng-scope" data-ng-if="itemSelect">
        <div class="tree-controls">
            <span class="glyphicon glyphicon-pencil" data-ng-click="edit()"></span>
            <span class="glyphicon glyphicon-remove" data-ng-click="remove()"></span>
        </div>
    </div-->
</div>
<jqx-tree jqx-on-select="itemSelect" jqx-settings="settings" id="jqxtree"></jqx-tree>
